# Ignorer les fichiers/dossiers générés par le système d'exploitation
.DS_Store
Thumbs.db

# Ignorer les fichiers de configuration de l'IDE
.idea/

# Ignorer les fichiers de sortie de compilation
/build/
/dist/

# Ignorer les fichiers de dépendances et de modules
**/node_modules

# Ignorer les fichiers de journalisation
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers de sauvegarde
*.bak
*.swp

# Ignorer les fichiers temporaires
*.tmp

# Ignorer les fichiers de cache
.cache/

# Ignorer les fichiers de documentation générée
doc/
docs/
